services:
  consul:
    image: hashicorp/consul:latest
    container_name: consul
    ports:
      - "8500:8500"
    command: consul agent -dev -client=0.0.0.0
    networks:
      - microservices-network

  mysql-client:
    image: mysql:8.0
    container_name: mysql-client
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: Micro_ClientDB
    ports:
      - "3309:3306"
    networks:
      - microservices-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  mysql-car:
    image: mysql:8.0
    container_name: mysql-car
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: carservicedb
    ports:
      - "3307:3306"
    networks:
      - microservices-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  microservices-network:
    driver: bridge

